# dependencies
node_modules/

# Expo
.expo/
.expo-shared/
dist/
web-build/

# React Native / Metro
.metro-health-check*

# native builds
android/.gradle/
android/app/build/
android/build/
ios/build/
ios/Pods/

# local environment
.env
.env.*

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# macOS / Windows
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo
